<% provide(:title, 'Help') %>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			Get help on the Ruby on Rails Trtorial at the
			<a href="http://sports.163.com/">Rails Tutorial help page</a>.
			To get help on this sample app, see the
			<a href="http://edu.163.com">Rails Tutorial book</a>.
		</p>
	</body>
</html>